<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=event.title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/show.css">
  </head>
  <body>
    <div class="container">
      <h1><%=event.title%></h1>
      <a id="home" href="/home">Home</a>
      <h3><%=event.description%></h3>
      <pre><%=event.content%></pre>
    </div>


  </body>
</html>
